<h1>this is the movie details bitch</h1>

<h1>Movie Title:</h1>
<h3>{{movies.title}}</h3>

<h1>Movie Genre:</h1>
<h3>{{movies.genre}}</h3>

<h1>Movie Plot:</h1>
<h3>{{movies.plot}}</h3>

<h1>Movie Star:</h1>
<a href="/celebrities/details/{{movies.star._id}}">{{movies.star.name}}</h3>